<div class="btn-wrapper wrapper">
  <img src="./assets/icon/location.png" alt="マップ">
  <img src="./assets/icon/movie.png" alt="ストリートビュー">
  <img src="./assets/icon/hamburger.png" alt="メモ">
  <img src="./assets/icon/handle.png" alt="車の情報">
  <!-- <mat-icon>location_on</mat-icon>
  <mat-icon>videocam</mat-icon>
  <mat-icon>menu</mat-icon>
  <mat-icon>directions_car_filled</mat-icon> -->
  <div class="save">
    <a class="btn1" href="#">保存</a>
  </div>
</div>

<div class="toggle-wrapper wrapper">
  <div class="mt-ios-blue" style="font-size:9px;">
    <p class="toggle-label All">All</p>
    <input id="1" type="checkbox" />
    <label for="1"></label>
  </div>
  <div class="mt-ios-blue" style="font-size:9px;">
    <p class="toggle-label Spd">Spd</p>
    <input id="2" type="checkbox" />
    <label for="2"></label>
  </div>
  <div class="mt-ios-blue" style="font-size:9px;">
    <p class="toggle-label Acc1">Acc</p>
    <input id="3" type="checkbox" />
    <label for="3"></label>
  </div>
  <div class="mt-ios-blue" style="font-size:9px;">
    <p class="toggle-label Brk">Brk</p>
    <input id="4" type="checkbox" />
    <label for="4"></label>
  </div>
  <div class="mt-ios-blue" style="font-size:9px;">
    <p class="toggle-label Acc2">Acc</p>
    <input id="5" type="checkbox" />
    <label for="5"></label>
  </div>
  <img src="./assets/icon/graph.png" alt="グラフ">
  <img src="./assets/icon/document.png" alt="ドキュメント">
  <!-- <mat-icon class="chart">addchart</mat-icon>
  <mat-icon class="document">article</mat-icon> -->
  <div class="mt-ios-blue" style="font-size:9px;">
    <p class="toggle-label Share">Share</p>
    <input id="6" type="checkbox" />
    <label for="6"></label>
  </div>

</div>




