<div id="carInfo-wrap">
    <p>steering</p>
    <p>{{steering}}</p>
    <p>headlamp</p>
    <p>{{headlamp}}</p>
    <p>stoplamp</p>
    <p>{{stoplamp}}</p>
    <p>turnlamp</p>
    <p>{{turnlamp}}</p>
    <p>pcs1</p>
    <p>{{pcs1}}</p>
    <p>pcs2</p>
    <p>{{pcs2}}</p>
</div>

<!-- <div>
  <p>steering</p>
  <p>{{steering}}</p>
</div>
<div>
  <p>headlamp</p>
  <p>{{headlamp}}</p>
</div>
<div>
  <p>stoplamp</p>
  <p>{{stoplamp}}</p>
</div>
<div>
  <p>turnlamp</p>
  <p>{{turnlamp}}</p>
</div>
<div>
  <p>pcs1</p>
  <p>{{pcs1}}</p>
</div>
<div>
  <p>pcs2</p>
  <p>{{pcs2}}</p>
</div> -->
