<div class="header">
  <div class="inline-block">
    <p>契約者名</p>
    <input type="text" class="box">
  </div>
  <div class="inline-block">
    <p>運転者名</p>
    <input type="text" class="box">
  </div>
  <div class="inline-block">
    <p>証券番号</p>
    <p>{{ vin }}</p>
  </div>
  <div class="v_line_fix"></div>
  <div class="inline-block">
    <p>事故検知日時</p>
    <p>{{year}}年{{month}}月{{day}}日{{hour}}:{{min}}:{{second}}</p>
  </div>
  <div class="inline-block">
    <p>事故検知地点</p>
  </div>
  <div class="inline-block">
    <p>車両番号</p>
    <input type="text" class="box">
  </div>
</div>
